<div style="text-align:center">
  <div>
    <app-title></app-title>
    <app-sub-heading></app-sub-heading>
    <app-movie-search-form (onMovieSearch)="onMovieSearch($event)"></app-movie-search-form>
  </div>
  <ul>
    <li *ngFor="let movie of movieData">
      <p>{{ movie.original_title }}</p>
      <p>{{ movie.overview }}</p>
      <img src="http://image.tmdb.org/t/p/w185{{ movie.poster_path }}">
      <br>
      <button (click)="saveMovie($event, movie)">Save Movie</button>
    </li>
  </ul>
</div>
