<div style="text-align:center">
    <app-title></app-title>
  <div *ngIf="loggedIn; else notLoggedIn">
    <app-sub-heading></app-sub-heading>
    <app-movie-search-form (onMovieSearch)="onMovieSearch($event)"></app-movie-search-form>
  </div>
  <div *ngIf="!loggedIn">
    Click the button to log in!
    <br>
    <button (click)="toggleLogIn()">Log In</button>
  </div>
  <ul>
    <li *ngFor="let movie of movieData">
      <p>{{ movie.original_title }}</p>
      <p>{{ movie.overview }}</p>
      <img src="http://image.tmdb.org/t/p/w185{{ movie.poster_path }}">
      <br>
      <button (click)="saveMovie($event, movie)">Save Movie</button>
    </li>
  </ul>
</div>
